.header{
  font-weight: bold;
  text-align: center;
  padding-top: 8px;
  border-bottom: 1px solid;
  border-color: #E1E1E1;
  padding-bottom: 7px
}

.reservation-widget{
  width: 300px;
  margin-top: 10px;
  box-shadow: 0px 0px 15px lightgrey;
  font-family: sans-serif;
  padding-bottom: 8px
}

.party-size, .datepicker, .timeselector{
  font-size: 14px;
  border: none;
  border-bottom: 1px solid;
  border-color: #E1E1E1;
  border-radius: 0;
  -webkit-appearance: none;
}

.party-size:hover, .datepicker:hover, .timeselector:hover{
  cursor: pointer;
  border-color: #DA3743;
  border-width: 2px;
}

.party-size{
  width: 100%;
}

.datepicker, .timeselector{
  width: 120px;
  height: 30px;
}

.timeselector, .form-timeselector{
  margin-left: 32px;
}

.form-party-size, .form-datepicker, .form-timeselector{
  margin-top:5px;
  font-weight: bold;
  font-size: 14px;
}

label.form-datepicker, label.form-timeselector, label.form-party-size{
  margin-top: 12px;
  height: 3px;
}
select#timeselector, input#datepicker, select#party-size{
  padding-left: 0;
}

.picker{
  display: flex;
  justify-content: space-between;
}

.findtable{
  background-color: #DA3743;
  text-align: center;
  width: 100%;
  margin: 5px 0px;
  margin-bottom: 12px;
  color: white;
  height: 55px;
  font-weight: bold;
  border-radius: 2px;
}

.findtable:hover{
  background-color: #c4313c;
  cursor: pointer;
}

.slots{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.table{
  text-align: center;
  background-color: #DA3743;
  color: white;
  margin-bottom: 8px;
  margin-right: 12px;
  border-radius: 2px;
  padding: 0 0.25rem;
  height: 32px;
  line-height: 32px;
  width: 75px;
  font-size: 15px;
}

.table:hover{
  background-color: #c4313c;
  cursor: pointer;

}


