.header{
  font-weight: bold;
  text-align: center;
}

.reservation-widget{
  border: solid 2px;
  border-color: #DA3743;
  width: 400px;
  margin-top: 10px;
}

.party-size, .datepicker, .timeselector{
  font-size: 14px;
  border: none;
  border-bottom: 2px solid;
  border-radius: 0;
  -webkit-appearance: none;
}

.party-size{
  width: 100%;
}

.datepicker, .timeselector{
  width: 170px;
  height: 30px;
}

.timeselector, .form-timeselector{
  margin-left: 23px;
}

.form-party-size, .form-datepicker, .form-timeselector{
  margin-top:5px;
  font-weight: bold;
  font-size: 14px;
}

.picker{
  display: flex;
  justify-content: space-between;
}